<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ken.smartmobileproftaakandroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sligrologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sligrologo"
        android:supportsRtl="true"
        android:theme="@style/DarkGreen">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:parentActivityName="com.example.ken.smartmobileproftaakandroid.LoginActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ken.smartmobileproftaakandroid.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName="com.example.ken.smartmobileproftaakandroid.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ken.smartmobileproftaakandroid.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>